.header{
  &__container{
  display: flex;
  flex-direction: column;
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
  }
  &__name {
    color: white;
    font-size: 50px;
    font-style: italic;
  }
  &__search {

  }
  &__navigation {

  }
}
.logo-header{
  &__title {

  }
  a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.info-header {
  text-decoration: none;
  color: white;
  &__phones {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }
  &__emails {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }
  &__socials {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    color: white;
    text-decoration: none;
  }
}

.navigation-header {
  background-color: black;
  *li{
    list-style-type: none;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__item {

  }
  &__link {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
      color: gold;
      transition: 0.5s;
    }
  }
}
[class*=active] {
  color: orange;
}

.socials-info {

}
.emails-info__img{
  width: 35px;
  height: 35px;
}

.phones-info__phone {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: gold;
    transition: 0.5s;
  }
}
.emails-info__email {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: gold;
    transition: 0.5s;
  }
}
