<div class="header__container">
  <div class="header__box">
    <div class="header__logo logo-header">
      <h1 class="logo-header__title"><a [routerLink]="['/']">LOGO</a></h1>
    </div>
    <div class="header__info info-header">
      <div class="info-header__phones phones-info">
        <img class="phones-info__img" src="" alt="">
        <a class="phones-info__phone" href="">+375252552525</a>
      </div>
      <div class="info-header__emails emails-info">
        <img class="emails-info__img" src="" alt="">
        <a class="emails-info__email" href="">gameWorld@gmail.com</a>
      </div>
      <div class="info-header__socials socials-info">
        <div class="socials-info__instagram"></div>
        <div class="socials-info__telegram"></div>
        <div class="socials-info__VK"></div>
        <div class="socials-info__WhatsApp"></div>
      </div>
    </div>
  </div>
  <div class="header__navigation navigation-header">
    <ul class="navigation-header__list">
      <li  class="navigation-header__item"><a routerLinkActive="active" class="navigation-header__link" [routerLink]="['/strategy']">Стратегические Дюны</a></li>
      <li  class="navigation-header__item"><a routerLinkActive="active" class="navigation-header__link" [routerLink]="['/mind']">Чертоги Головоломок</a></li>
      <li  class="navigation-header__item"><a routerLinkActive="active" class="navigation-header__link" [routerLink]="['/survivel']">Пустоши Выживания</a></li>
      <li  class="navigation-header__item"><a routerLinkActive="active" class="navigation-header__link" [routerLink]="['/adventure']">Острова Приключений</a></li>
      <li  class="navigation-header__item"><a routerLinkActive="active" class="navigation-header__link" [routerLink]="['/dungeon']">Подземелье</a></li>
    </ul>
  </div>
</div>
