.footer {
  background-color: black;
  padding-bottom: 30px;
  &__title {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  &__box {

  }

}
 .footer__container {
    display: flex;
   flex-direction: column;

 }

 .box-footer {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
   justify-items: center;
   &__left {}
   &__map {
     border-radius: 15px;
     border: 1px solid gold;
     display: flex;
     color: white;
     font-size: 36px;
     align-items: center;
     justify-content: center;
   }
   &__right {}
 }

 .left-footer{
   &__logo {
     color: white;
   }
   &__text {
     color: white;
   }
 }

 .right-footer {
   *li{
     list-style-type: none;
   }
   &__list {

   }
   &__item {
     padding: 5px 0;
     text-decoration: none;
     color: white;
     display: flex;
     align-items: center;
     gap: 25px;
     &:hover {
       text-decoration: underline;
       color: gold;
       transition: 0.5s;
     }
     &:active {
       color: green !important;
     }
   }
   &__link {
     color: white;
     text-decoration: none;
   }
 }

 .emails-info__img {
   width: 30px;
   height: 30px;
 }

