<div class="footer footer__container">
  <h1 class="footer__title" >Подземелье</h1>
  <div class="footer__box box-footer">
    <div class="box-footer__left left-footer">
      <h2 class="left-footer__logo">LOGO</h2>
      <p class="left-footer__text">Что-то о сайте в виде общей информации</p>
    </div>
    <div class="box-footer__dragons">
      <button><a href="#">Картинка дракона :)</a></button>
    </div>
    <div class="box-footer__right right-footer">
      <ul class="right-footer__list">
        <li class="right-footer__item"><a class="right-footer__link" href="#">Телефон</a></li>
        <li class="right-footer__item"><a class="right-footer__link" href="#">Email</a></li>
        <li class="right-footer__item"><a class="right-footer__link" href="#">Instagram</a></li>
        <li class="right-footer__item"><a class="right-footer__link" href="#">VK</a></li>
        <li class="right-footer__item"><a class="right-footer__link" href="#">Kufar :)</a></li>
      </ul>
    </div>
  </div>
</div>
