.page {
  background-color: black;
  &__container {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 100px 0.9375rem;
    background-color: black;
  }
  &__up {
    display: flex;
    flex-direction: row;
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__right {
    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid gold;
    background-color: antiquewhite;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 30px;
    color: antiquewhite;
  }
  &__text {
    color: antiquewhite;
  }
  &__slider {
    display: flex;
    align-items: center;
  }
  &__down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}
